.feedback-comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 25px 32px;
    gap: 14px;

    width: 1255px;
    height: 324px;

    /* Neutral-White/0 */

    background: #FFFFFF;
    /* Shadow / 500 */

    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    border-radius: 10px;
}

.input-text {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 26px;
    gap: 10px;

    width: 1191px;
    height: 184px;

    /* Neutral-White/0 */

    background: #FFFFFF;
    /* Neutral-Black/100 */

    border: 1px solid #606060;
    border-radius: 10px;
}