.section3 {
    background-color: var(--Neutral-Black-900);
}

.section-title {
    padding-top: 50px;
    color: var(--primary-600);
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;

}

.section-description {
    padding-top: 14px;
    padding-bottom: 57px;
    color: var(--primary-900);
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.container {
    padding-top: 20px;
    padding-bottom: 50px;
}

.padding-between1 {
    padding-right: 52px;
}

.padding-between2 {
    padding-right: 52px;
}

.padding-between3 {
    padding-bottom: 55px;
}

.padding-between4 {
    margin-top: -158px;
    padding-right: 52px;
}

.padding-between5 {
    margin-top: 158px;
    padding-right: 52px;
}

.padding-between6 {
    margin-top: -50px;
}



@media (max-width: 768px) {

    .padding-between1 {
        display: flex;
        justify-content: center;
        padding: 0 27px 55px 27px;

    }

    .padding-between2 {
        display: flex;
        justify-content: center;
        padding: 0 27px 55px 27px;

    }

    .padding-between3 {
        display: flex;
        justify-content: center;
        padding: 0 27px 55px 27px;

    }

    .padding-between4 {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding: 0 27px 55px 27px;

    }

    .padding-between5 {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding: 0 27px 55px 27px;

    }

    .padding-between6 {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding: 0 27px 25px 27px;

    }
}

@media (min-width: 768px) and (max-width: 990px) {

    .padding-between1 {
        display: flex;
        justify-content: center;
        padding: 0 27px 55px 27px;

    }

    .padding-between2 {
        display: flex;
        justify-content: center;
        padding: 0 27px 55px 27px;

    }

    .padding-between3 {
        display: flex;
        justify-content: center;
        padding: 0 27px 55px 27px;

    }

    .padding-between4 {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding: 0 27px 55px 27px;

    }

    .padding-between5 {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding: 0 27px 55px 27px;

    }

    .padding-between6 {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding: 0 27px 25px 27px;

    }


    .padding-between1,
    .padding-between2,
    .padding-between3,
    .padding-between4,
    .padding-between5,
    .padding-between6 {
        flex-basis: 50%;
        /* Set the column width to 50% for col-md-6 */
        max-width: 50%;
    }
}